<div id="doc-payment-link-delete-modal" class="modal fade doc-delete-modal" tabindex="-1" aria-labelledby="doc-payment-link-delete-modal-heading" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="doc-payment-link-delete-modal-heading">Supprimer le lien de paiement</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <p class="doc-delete-modal__message" id="doc-payment-link-delete-modal-message">
                    Êtes-vous sûr de vouloir supprimer ce lien de paiement ? Le client ne pourra plus l'utiliser.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline btn-sm doc-delete-modal__cancel" data-bs-dismiss="modal">
                    Annuler
                </button>
                <button type="button" class="btn btn-sm doc-delete-modal__confirm" id="doc-payment-link-delete-modal-confirm">
                    Valider la suppression
                </button>
            </div>
        </div>
    </div>
</div>
