<footer id="footer">
    <div class="container">
        <div class="footer-ribbon">
            <span>Traductions légales</span>
        </div>
        <div class="row py-5 my-4">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <h5 class="text-3 mb-3">TRADUCTIONS LÉGALES</h5>
                <p class="pe-1">Une entreprise de traduction assermentée en France, spécialisée dans les documents juridiques, administratifs et professionnels.</p>
                <p class="mb-0"><a href="/" class="text-color-light text-decoration-none">Accueil</a> · <a href="/services" class="text-color-light text-decoration-none">Services</a> · <a href="/contact" class="text-color-light text-decoration-none">Contact</a>
                </p>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                <h5 class="text-3 mb-3">LIENS RAPIDES</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2 pb-1"><a href="/" class="text-color-light text-decoration-none"><i class="fas fa-angle-right text-color-primary"></i><span class="ms-2">Accueil</span></a></li>
                    <li class="mb-2 pb-1"><a href="/services" class="text-color-light text-decoration-none"><i class="fas fa-angle-right text-color-primary"></i><span class="ms-2">Services</span></a></li>
                    <li class="mb-2 pb-1"><a href="/contact" class="text-color-light text-decoration-none"><i class="fas fa-angle-right text-color-primary"></i><span class="ms-2">Contact</span></a></li>
                    <li><a href="/mentions-legales" class="text-color-light text-decoration-none"><i class="fas fa-angle-right text-color-primary"></i><span class="ms-2">Mentions légales</span></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <div class="contact-details">
                    <h5 class="text-3 mb-3">CONTACT</h5>
                    <ul class="list list-icons list-icons-lg">
                        <li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i><p class="m-0">Paris, France</p></li>
                        <li class="mb-1"><i class="fab fa-whatsapp text-color-primary"></i><p class="m-0"><a href="tel:+33123456789">01 23 45 67 89</a></p></li>
                        <li class="mb-1"><i class="far fa-envelope text-color-primary"></i><p class="m-0"><a href="mailto:concta@trauction-legales.fr">concta@trauction-legales.fr</a></p></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <h5 class="text-3 mb-3">FOLLOW US</h5>
                <ul class="social-icons">
                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-x"><a href="http://www.x.com/" target="_blank" title="X"><i class="fab fa-x-twitter"></i></a></li>
                    <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
                    <a href="/" class="logo pe-0 pe-lg-3">
                        <img alt="Porto Website Template" src="{{ asset('logo-tl.png') }}" " width="150" data-plugin-options="{'appearEffect': 'fadeIn'}">
                    </a>
                </div>
                <div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                    <p>© Copyright 2026..</p>
                </div>
            </div>
        </div>
    </div>
</footer>