<!-- Main Footer Start -->
    <footer class="main-footer dark-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <!-- About Footer Start -->
                    <div class="about-footer footer-links">
                        <h3>À propos de notre entreprise</h3>
                        <p>Nous sommes dédiés à créer des environnements sûrs et exempts de parasites pour les foyers et les entreprises. Avec des années d'expérience dans l'industrie du contrôle des parasites.</p>
                        <p>Nous sommes fiers de fournir des solutions efficaces et respectueuses de l'environnement adaptées à vos besoins.</p>
                    </div>
                    <!-- About Footer End -->
                </div>

                <div class="col-lg-2 col-md-3">
                    <!-- Footer Links Start -->
                    <div class="footer-links">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="/services/fourmis"> Fourmis</a></li>
                            <li><a href="/services/services-d-extermination-des-chenilles-avec-espace-hygiene-3d-dans-le-val-de-marne">Chenilles</a></li>
                            <li><a href="/services/services-d-extermination-des-guepes-avec-espace-hygiene-3d-dans-le-val-de-marne"> Guêpes </a></li>
                            <li><a href="/services/services-d-extermination-des-punaises-de-lit-avec-espace-hygiene-3d-dans-le-val-de-marne">Punaises de lit</a></li>
                            <li><a href="/services/extermination-des-frelons-avec-espace-hygiene-3d-dans-le-val-de-marne"> Frelons</a></li>
                            
                        </ul>
                    </div>
                    <!-- Footer Links End -->
                </div>

                <div class="col-lg-2 col-md-4">
                    <!-- Footer Links Start -->
                    <div class="footer-links">
                        <h3>Nos services</h3>
                        <ul>
                            <li><a href="/services/extermination-des-blattes-avec-espace-hygiene-3d-dans-le-val-de-marne">Blattes</a></li>
                            <li><a href="/nos-services" target="_blank">Nos services</a></li>
                            <li><a href="/qui-sommes-nous" target="_blank">Qui sommes-nous</a></li>
                            <li><a href="{{ path('contact') }}">Contactez-nous</a></li>
                            <li><a href="{{ path('mentions_legales') }}">Mentions légales</a></li>
                        </ul>
                    </div>
                    <!-- Footer Links End -->
                </div>

                <div class="col-lg-3 col-md-5">
                    <div class="footer-links">
                        <h3>Contactez-nous</h3>
                        <!-- Footer Contact Item Start -->
                        <div class="footer-contact-item">
                            <div class="icon-box">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div class="footer-contact-content">
                                <p><a href="tel:+33699474222" onclick="gtag('event', 'conversion', {'send_to': 'AW-775541421/0t-5CP3f0Z8cEK2l5_EC'});">+33 6 99 47 42 22</a></p>
                            </div>
                            
                            
                        </div>
                        <!-- Footer Contact Item End -->

                        <!-- Footer Contact Item Start -->
                        <div class="footer-contact-item">
                            <div class="icon-box">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="footer-contact-content">
                                <p><a href="mailto:contact@espacehygiene3d.com" onclick="gtag('event', 'conversion', {'send_to': 'AW-775541421/wFbwCJya0p8cEK2l5_EC'});">contact@espacehygiene3d.com</a></p>
                            </div>
                        </div>
                        <div class="footer-contact-item" style="background-color: #000; padding: 5px; border-radius: 50px;">
                            <a href="/nos-services" class="btn-default">Nos services</a>
                        </div>
                        <!-- Footer Contact Item End -->
                    </div>
                </div>

                <div class="col-lg-12">
                    <!-- Footer Copyright Start -->
                    <div class="footer-copyright">
                        <!-- Footer Logo Start -->
                        <div class="footer-logo">
                            <img src="{{ asset('logo-eh-3d.png') }}" style="max-width:73px" alt="Hygiène Services - Extermination des nuisibles à Paris & Île-de-France">
                        </div>
                        <!-- Footer Logo End -->

                        <!-- Footer Social Links Start -->
                        <div class="footer-social-links">
                            <ul>
                                <li><a href="https://www.facebook.com/profile.php?id=100063489035030" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/espacehygiene3d/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="https://youtube.com/@espacehygiene3d?feature=shared" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href="https://www.tiktok.com/@espace.hygiene3d" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
                            </ul>
                        </div>
                        <!-- Footer Social Links End -->

                        <!-- Footer Copyright Text Start -->
                        <div class="footer-copyright-text">
                            <p>Copyright © 2026 Tous droits réservés. </p>
                        </div>
                        <!-- Footer Copyright Text End -->
                    </div>
                    <!-- Footer Copyright End -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Main Footer End -->
    <div class="call-to-phone"> 
        <a href="tel:+33699474222" onclick="gtag('event', 'conversion', {'send_to': 'AW-775541421/0t-5CP3f0Z8cEK2l5_EC'});">
            <i class="fa-solid fa-phone"></i> +336 99 47 42 22
        </a>
    </div>

    <script>
    document.getElementById("contactForm").addEventListener("submit", function(e) {
        e.preventDefault();

        let form = e.target;
        let data = new FormData(form);

        fetch("/contact/ajax", {
            method: "POST",
            body: data
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert("Message envoyé !");
                form.reset();
            } else {
                alert("Erreur !");
            }
        })
        .catch(error => {
            console.error(error);
        });
    });
    </script>